<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile=".\logs\internal-nlog-AspNetCore3.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- connectionstring="Server=localhost\SQLEXPRESSq;Database=GraphanaDB;Trusted_Connection=True;"-->
    <target xsi:type="Database" name="database" dbProvider="System.Data.SqlClient" connectionstring="Data Source=localhost\SQLEXPRESS;Initial Catalog=GraphanaDB;Integrated Security=True;">

      <commandText>
         INSERT INTO [dbo].[metric_values] ([measurement],[duration],[threadid], [levelLog], [sessionid], [numid], [reportname]) VALUES (@measurement, @duration, @threadid, @levelLog, @sessionid, @numid, @reportname)
      </commandText>
    <!--  <parameter name="@time" layout="${date}" dbType="SqlDbType.DateTime2"/> -->
      <parameter name="@measurement" layout="${message}"/>
    <!--  <parameter name="@duration" layout="${event-properties:item=EventId_Id}" dbType="DbType.Int32"/> -->
      <parameter name="@duration" layout="${event-properties:item=duration}" dbType="DbType.Int32"/>
      <parameter name="@threadid" layout="${threadid}" dbType="DbType.Int32"/>
      <parameter name="@levelLog" layout="${level}"/>
      <parameter name="@sessionid" layout="${event-properties:item=sessionid}"/>
      <parameter name="@numid" layout="${event-properties:item=numid}" dbType="DbType.Int32"/>
      <parameter name="@reportname" layout="${event-properties:item=reportname}"/>
    </target>

  
   <target name="databaselog" type="Database" keepConnection="true"> 
    <!--
     <target name="databaselog" xsi:type="Database" keepConnection="false" useTransactions="true"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
            connectionString="DATA SOURCE=XE;USER ID=superuser;Password=111;Validate Connection=true"
            commandText="insert into metric_values (measurement) values ('test')"
            commandType="Text" >
            -->

      <dbProvider>Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess</dbProvider>
     <commandType>Text</commandType>
     <connectionString>DATA SOURCE=XE;USER ID=superuser;Password=111;Validate Connection=true</connectionString> 
     <commandText>
        
        begin
         set_metric_value(:i_c_measurement, :i_n_duration, :i_n_threadid, :i_c_levellog);
        end;
        
      </commandText>
     
      <parameter name="i_c_measurement" layout="${message}" />
      <parameter name="i_n_duration" layout="${event-properties:item=EventId_Id}" dbType="DbType.Int32"/>
      <parameter name="i_n_threadid" layout="${threadid}" dbType="DbType.Int32"/>
      <parameter name="i_c_levellog" layout="${level}" />
      
    </target>
    

    <target xsi:type="File" name="allfile" fileName=".\logs\nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  </targets>
  <rules>
    <!--<logger name="*" level="Trace" writeTo="database" /> -->
   <!-- <logger name="*" level="Trace" writeTo="databaselog" />  -->
    <logger name="*" level="Debug" writeTo="allfile" /> 
  </rules>
</nlog>